<section class="my-4">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-8 mt-3">
        <div class="p-2 border" [class]="isFieldInvalid('json') ? 'border-danger' : 'border-light'">
          <div class="editor-wrapper">
            <ngx-monaco-editor
              [options]="editorOptions.json"
              formControlName="json"
              (init)="onEditorInit($event)"
            ></ngx-monaco-editor>
          </div>
          @if (f.get('errors')?.value?.length > 0) {
            <div class="invalid-feedback d-block">
              @for (error of f.get('errors')?.value; track $index) {
                <div class="my-0" style="white-space: pre">
                  {{ `Erro na linha ${error.startLineNumber}: ${error.message}` }}
                </div>
              }
            </div>
          }
          @if (isFieldInvalid('json')) {
            <div class="invalid-feedback d-block">
              @for (error of getField('json')?.errors?.messages; track $index) {
                <div class="my-0" style="white-space: pre">{{ error }}</div>
              }
            </div>
          }
        </div>
      </div>
      <div class="col-12 col-md-4 mt-3">
        <div class="p-2 border border-light">
          <div class="form-group">
            <label class="form-label fw-bold">Control Flow Syntax</label>
            @for (option of formControlType; track $index) {
              <label>
                <input
                  type="radio"
                  [id]="'form-control-' + option.id"
                  formControlName="structure"
                  [value]="option.id"
                  [attr.disabled]="option.disabled"
                />
                {{ option.description }}
              </label>
            }
          </div>
          <div class="form-group mt-3">
            <label for="input-feature-name" class="form-label fw-bold">Feature name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [ngClass]="{ 'is-invalid': featureName?.errors }"
              id="input-feature-name"
              formControlName="featureName"
            />
            @if (featureName?.errors) {
              <div class="invalid-feedback">
                Must start with a letter, and must contain only alphanumeric characters or dashes.
                When adding a dash the segment after the dash must also start with a letter.
              </div>
            }
          </div>
          <ng-container formGroupName="options">
            <div class="form-group mt-3">
              <label class="form-label fw-bold">Select form build mode</label>
              @for (mode of formBuildModes; track $index) {
                <div class="mb-4">
                  <label>
                    <input type="radio" formControlName="formBuildMode" [value]="mode.id" />
                    {{ mode.label }}
                  </label>
                  <p>
                    <small class="text-muted">{{ mode.description }}</small>
                  </p>
                </div>
              }
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</section>

@if (isLoadingAction$ | async) {
  <div class="my-3">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem" role="status">
      <span class="visually-hidden">LOADING...</span>
    </div>
  </div>
}

@if (formBuilder$ | async; as formBuilder) {
  @if (!(isLoadingAction$ | async)) {
    @if (form.valid) {
      <div class="mt-3">
        <div class="row">
          <div class="col-12 col-md-6">
            <ng-container
              [ngTemplateOutlet]="formBuilderTemplate"
              [ngTemplateOutletContext]="{
                $implicit: formBuilder.component,
                iconClass: 'fas fa-file-code',
                title: featureNamePlusForm + '.component.ts',
                index: 0,
              }"
            ></ng-container>
          </div>
          <div class="col-12 col-md-6">
            <ng-container
              [ngTemplateOutlet]="formBuilderTemplate"
              [ngTemplateOutletContext]="{
                $implicit: formBuilder.html,
                iconClass: 'fas fa-file-alt',
                title: featureNamePlusForm + '.component.html',
                index: 1,
              }"
            ></ng-container>
          </div>
        </div>
      </div>
    }
  }
}

<ng-template
  #formBuilderTemplate
  let-code
  let-title="title"
  let-iconClass="iconClass"
  let-index="index"
>
  <div class="card card-sm mb-5">
    <div class="card-header d-flex align-items-center border-0 border-top border-bottom sticky-top">
      <small class="font-monospace text-uppercase">
        <i [class]="iconClass" class="me-2"></i> <b>{{ title }}</b>
      </small>
      <div class="d-flex ms-auto">
        <button
          type="button"
          class="btn"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Copy to clipboard"
          (click)="copyToClipboard(code, index)"
        >
          <i class="fas" [ngClass]="iconToggle[index]" style="font-size: 1.3rem"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      @if (index === 0) {
        <div class="editor-wrapper">
          <ngx-monaco-editor
            [options]="editorOptions.ts"
            [(ngModel)]="editorModel[index]"
          ></ngx-monaco-editor>
        </div>
      }
      @if (index === 1) {
        <div class="editor-wrapper">
          <ngx-monaco-editor
            [options]="editorOptions.html"
            [(ngModel)]="editorModel[index]"
          ></ngx-monaco-editor>
        </div>
      }
    </div>
  </div>
</ng-template>
