<p-toolbar
  class="fixed-toolbar"
  [style]="{
    'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))',
  }"
>
  <ng-template #start>
    <div class="flex items-center gap-2">
      <p-button label="Home" severity="contrast" size="small" [routerLink]="['/json-to-form']">
      </p-button>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <a
        pButton
        severity="contrast"
        variant="text"
        size="small"
        href="https://github.com/mashimot/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span pButtonLabel>
          <i class="fab fa-github me-1"></i>
          GitHub
        </span>
      </a>
    </div>
  </ng-template>
</p-toolbar>
