<div class="mt-3">
    <div class="alert alert-dismissible alert-info">
        <strong>
            You need to import ReactiveFormsModule in order to create reactive forms
        </strong>
    </div>
</div>
<section class="card shadow-sm p-3 mb-4">
    <div class="card-body">
      <h5 class="card-title">Form Configuration</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 col-md-7 mt-3">
                    <div 
                        class="shadow p-3 bg-body border"
                        [class]="(isFieldInvalid('json') ? 'border-danger' : 'border-light')"
                    >
                        <json-editor
                            [options]="editorOptions"
                            formControlName="json"
                        ></json-editor>
                        <div *ngIf="isFieldInvalid('json')" class="invalid-feedback d-block">
                            <ng-container *ngFor="let error of getField('json')?.errors?.messages">
                                <div class="my-0" style="white-space: pre;">{{ error }}</div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div  class="col-12 col-md-5 mt-3">
                    <div class="shadow p-3 bg-body border border-light">
                        <div class="form-group">
                            <label class="form-label fw-bold">Control Flow Syntax</label>
                            <div *ngFor="let option of formControlType; let indexBudget = index;">
                                <label>
                                    <input 
                                        type="radio" 
                                        [id]="'form-control-' + option.id"
                                        formControlName="structure"
                                        [value]="option.id"
                                        [disabled]="true"
                                    >
                                    {{ option.description }}
                                </label>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="input-main-folder-name">Main folder name</label>
                            <input 
                                type="text" 
                                class="form-control form-control-sm"  
                                [ngClass]="{ 'is-invalid': path?.errors }"
                                id="input-main-folder-name" 
                                formControlName="path"
                            >
                            @if (path?.errors) {
                                <div class="invalid-feedback">
                                    Must start with a letter, and must contain only alphanumeric characters or dashes.
                                    When adding a dash the segment after the dash must also start with a letter.
                                </div>
                            }
                        </div> -->
                        <div class="form-group mt-3">
                            <label for="input-feature-name" class="form-label fw-bold">Feature name</label>
                            <input 
                                type="text"
                                class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': featureName?.errors }"
                                id="input-feature-name"
                                formControlName="featureName"
                            />
                            @if (featureName?.errors) {
                                <div class="invalid-feedback">
                                    Must start with a letter, and must contain only alphanumeric characters or dashes.
                                    When adding a dash the segment after the dash must also start with a letter.
                                </div>
                            }
                        </div>
                        <ng-container formGroupName="options">
                            <div class="form-group mt-3">
                                <label class="form-label fw-bold">Select form build mode</label>
                            
                                <div *ngFor="let mode of formBuildModes" class="mb-4">
                                    <label>
                                        <input type="radio" formControlName="formBuildMode" [value]="mode.id" />
                                        {{ mode.label }}
                                    </label>
                                    <p>
                                        <small class="text-muted">{{ mode.description }}</small>
                                    </p>

                                    <!-- <div class="text-sm text-gray-600 ml-4">{{ mode.description }}</div> -->
                                    <!-- <div class="text-xs text-gray-400 ml-4"><code>{{ mode.example }}</code></div> -->
                                </div>
                            </div>
                        </ng-container>
                    </div>
    <!-- 
                    <ng-container *ngIf="f.valid">
                        <div class="shadow p-3 mt-3 bg-body border border-light">
                            <h3>Smart and Dumb Components</h3>
                            <ng-container *ngFor="let sB of smartAndDumb; let indexSmartDumb = index;">
                                <p class="my-0">
                                    {{ 
                                        sB | 
                                        replace : ':path:' : path.value | 
                                        replace : ':featureName:' : featureName.value  
                                    }}
                                </p>                    
                            </ng-container>
                        </div>
                    </ng-container> -->
                </div>
            </div>
        </form>
    </div>
</section>

<ng-container *ngIf="(isLoadingAction$ | async)">
    <div class="my-3">
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">LOADING...</span>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="(formBuilder$ | async) as formBuilder">
    <ng-container *ngIf="!(isLoadingAction$ | async )">
        <ng-container *ngIf="form.valid">
            <div class="mt-3">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ng-container 
                            [ngTemplateOutlet]="formBuilderTemplate"
                            [ngTemplateOutletContext]="{ 
                                $implicit: formBuilder.component, 
                                title: featureNamePlusForm + '.component.ts',
                                index: 0
                            }"
                        ></ng-container>
                    </div>                    
                    <div class="col-12 col-md-6">
                        <ng-container 
                            [ngTemplateOutlet]="formBuilderTemplate"
                            [ngTemplateOutletContext]="{ 
                                $implicit: formBuilder.html, 
                                title: featureNamePlusForm + '.component.html',
                                index: 1
                            }"
                        ></ng-container>                        
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #formBuilderTemplate let-code let-title="title" let-index="index">
    <div class="shadow p-3 mb-5 bg-body">
        <div class="d-flex align-items-center highlight-toolbar bg-body py-2 border-0 border-top border-bottom sticky-top">
            <small class="font-monospace text-uppercase">
                <b>{{ title }}</b>
            </small>
            <div class="d-flex ms-auto">
                <button 
                    type="button"
                    class="btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Copy to clipboard"
                    (click)="copyToClipboard(code, index)"
                >
                    <i class="bi" [ngClass]="iconToggle[index]" style="font-size: 1.3rem"></i>
                </button>
            </div>
        </div>
        <div class="highlight pt-5">
            <code class="text-black">
                <pre>{{ code }}</pre>
            </code>
        </div>
    </div>
</ng-template>
