<div class="mt-3">
    <h3>
        <strong>
            You need to import ReactiveFormsModule in order to create reactive forms
        </strong>
    </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 col-md-7 mt-3">
                <div class="shadow">
                    <json-editor
                        [options]="editorOptions"
                        formControlName="json"
                        [class.is-invalid]="isFieldValid('json')"
                    ></json-editor>

                    <ng-container *ngIf="form.get('json')?.errors">
                        <div *ngIf="getField('json')!.errors?.invalidJson"  class="invalid-feedback">
                            <div>
                                Key accepts only words, underscore (_), numbers and can end (or not) with a dot followed by an asterisk (<b>.*</b>)
                            </div>
                            <ng-container
                                *ngFor="let error of getField('json')!.errors?.messages; let indexError = index;"
                            >
                                <b style="white-space:pre;">{{ error }}</b>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div  class="col-12 col-md-5 mt-3">
                <div class="shadow p-3 bg-body border border-light">
                    <div class="form-group">
                        <label for="input-main-folder-name">Main folder name</label>
                        <input 
                            type="text" 
                            class="form-control form-control-sm"  
                            [ngClass]="{ 'is-invalid': path?.errors }"
                            id="input-main-folder-name" 
                            formControlName="path"
                        >
                        @if (path?.errors) {
                            <div class="invalid-feedback">
                                Must start with a letter, and must contain only alphanumeric characters or dashes.
                                When adding a dash the segment after the dash must also start with a letter.
                            </div>
                        }
                    </div>
                    <div class="form-group mt-3">
                        <label for="input-feature-name">Feature name</label>
                        <input 
                            type="text"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': featureName?.errors }"
                            id="input-feature-name"
                            formControlName="feature_name"
                        >
                        @if (featureName?.errors) {
                            <div class="invalid-feedback">
                                Must start with a letter, and must contain only alphanumeric characters or dashes.
                                When adding a dash the segment after the dash must also start with a letter.
                            </div>
                        }
                    </div>
                </div>

                <ng-container *ngIf="f.valid">
                    <div class="shadow p-3 mt-3 bg-body border border-light">
                        <h3>Smart and Dumb Components</h3>
                        <ng-container *ngFor="let sB of smartAndDumb; let indexSmartDumb = index;">
                            <p class="my-0">
                                {{ 
                                    sB | 
                                    replace : ':path:' : path.value | 
                                    replace : ':feature_name:' : featureName.value  
                                }}
                            </p>                    
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </form>
</div>

<ng-container *ngIf="(isLoadingAction$ | async)">
    <div class="my-3">
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">LOADING...</span>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="(formBuilder$ | async) as formBuilder">
    <ng-container *ngIf="!(isLoadingAction$ | async )">
        <ng-container *ngIf="form.valid">
            <div class="mt-3">

                <div class="row">
                    <div class="col-12 col-md-6">
                        <ng-container 
                            [ngTemplateOutlet]="formBuilderTemplate"
                            [ngTemplateOutletContext]="{ 
                                $implicit: formBuilder.component, 
                                title: featureNamePlusForm + '.component.ts',
                                index: 0
                            }"
                        ></ng-container>
                    </div>                    
                    <div class="col-12 col-md-6">
                        <ng-container 
                            [ngTemplateOutlet]="formBuilderTemplate"
                            [ngTemplateOutletContext]="{ 
                                $implicit: formBuilder.html, 
                                title: featureNamePlusForm + '.component.html',
                                index: 1
                            }"
                        ></ng-container>                        
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #formBuilderTemplate let-code let-title="title" let-index="index">
    <div class="shadow p-3 mb-5 bg-body">
        <div class="d-flex align-items-center highlight-toolbar bg-body py-2 border-0 border-top border-bottom sticky-top">
            <small class="font-monospace text-uppercase">
                <b>{{ title }}</b>
            </small>
            <div class="d-flex ms-auto">
                <button 
                    type="button"
                    class="btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Copy to clipboard"
                    (click)="copyToClipboard(code, index)"
                >
                    <i class="bi" [ngClass]="iconToggle[index]" style="font-size: 1.3rem"></i>
                </button>
            </div>
        </div>
        <div class="highlight pt-5">
            <code class="text-black">
                <pre>{{ code }}</pre>
            </code>
        </div>
    </div>
</ng-template>