<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/json-to-form']"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            href="https://github.com/mashimot/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-github me-1"></i>
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container-fluid pt-3">
  <div class="mb-4 d-flex justify-content-between align-items-center">
    <div>
      <h1 class="h3 fw-bold text-dark">
        <i class="fas fa-code-branch me-2"></i>
        JSON to Angular Forms
      </h1>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
