<mat-card class="mat-elevation-z8 card-prop">
    <mat-card-content>
        <mat-card-title>Rules for Key Names</mat-card-title>
        <ul>
            <li>Keys have to be surrounded by double quotes.</li>
            <li>White Spaces are not allowed.</li>            
            <li>Key accepts only words, underscore (_), numbers and can end (or not) with a dot followed by an asterisk (<b>.*</b>)</li>
        </ul>
        <mat-divider inset></mat-divider>
        <mat-card-title>Form controls for Array of Objects</mat-card-title>
        <ul>
            <li>
                If the key name ends with a dot followed by an asterisk (<b>.*</b>): It's going to be a HTML of an Array of Objects or Elements.
                <ul> 
                    <li>Ex: "users.*" Array of users.</li>
                    <li>Ex: "users.*.*" 2 level deep nested Array of users.</li>
                </ul>
            </li>
        </ul>
    </mat-card-content>
    <!--
    <mat-card-actions>
        <h3>Examples</h3>
        <section class="valid-examples">
            <h6 class="text-success">Valid (Click below for examples)</h6>
            <mat-selection-list [multiple]="false" color="primary">
                <mat-list-option 
                    class="mat-primary"
                    *ngFor="let valid of examples.valid | keyvalue; let validIndex = index;"
                    (click)="form.patchValue({json: valid.value}); onSubmit();"
                >
                    {{ valid.key }}
                </mat-list-option>
            </mat-selection-list>
        </section>
        <section class="invalid-examples">            
            <h6 class="text-danger">Not Valid (Click below for examples)</h6>
            <mat-selection-list [multiple]="false" color="primary">
                <mat-list-option 
                    class="mat-primary"
                    *ngFor="let invalid of examples.invalid | keyvalue; let invalidIndex = index;"
                    (click)="form.patchValue({json: invalid.value}); onSubmit();"
                >
                    {{ invalid.key }}
                </mat-list-option>
            </mat-selection-list>
        </section>
    </mat-card-actions>
    -->
</mat-card>

<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset formArrayName="components" class="border border-dark p-1">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-block btn-sm" (click)="getComponents().push(createComponents())">ADD Components</button>
            </div>
            <div *ngFor="let Components1Data of getComponents().controls; let indexComponents = index;" class="border border-dark p-1" [formGroupName]="indexComponents">
                <fieldset>
                    <label for="__json">JSON</label>
                    <json-editor
                        [options]="editorOptions"
                        formControlName="json"
                        [class.is-invalid]="getComponents().at(indexComponents).get('json')?.errors"
                    ></json-editor>
                    <ng-container *ngIf="getComponents().at(indexComponents).get('json')?.errors">
                        <div *ngIf="getComponents().at(indexComponents)!.errors?.invalidJson">
                            <mat-error>
                                Key accepts only words, underscore (_), numbers and can end (or not) with a dot followed by an asterisk (<b>.*</b>)
                            </mat-error>
                            <ng-container *ngFor="let error of getComponents().at(indexComponents)!.errors?.messages; let indexError = index;">
                                <mat-error>
                                    <b style="white-space:pre;">{{ error }}</b>
                                </mat-error>
                            </ng-container>
                        </div>
                    </ng-container>
                </fieldset>

                <br/>
                <fieldset formGroupName="component">
                    <mat-form-field class="full-width-field">
                        <mat-label>Root Component Name</mat-label>
                        <input type="text" matInput formControlName="name" >
                    </mat-form-field>
                    <ng-container *ngIf="getComponents().at(indexComponents).get('component.name')">
                        <mat-error *ngIf="getComponents().at(indexComponents).get('component.name')!.hasError('required')">Root Component Name is required</mat-error>
                        <ng-container *ngIf="getComponents().at(indexComponents).get('component.name')!.hasError('pattern')">
                            <mat-error>Only the characters [a-zA-Z0-9] and hyphen (-)</mat-error>
                            <mat-error>Cannot start with a digit, two hyphens, or a hyphen followed by a digit.</mat-error>
                            <mat-error>White Spaces are not allowed.</mat-error>
                            <mat-error>For example: user-post</mat-error>
                        </ng-container>
                    </ng-container>

                    <fieldset formArrayName="children">
                        <mat-form-field class="full-width-field">
                            <mat-label>Child Components</mat-label>
                            <textarea
                                matInput
                                cols="30"
                                rows="10"
                                [formControl]="childComponents"
                            ></textarea>
                        </mat-form-field>
                        <mat-error *ngIf="getComponentsComponentChildren(indexComponents)!.hasError('minLengthArray')">
                            Child Components are required
                        </mat-error>                           
                        <div
                            *ngFor="let componentChildrenData of getComponentsComponentChildren(indexComponents)!.controls; let indexChildren = index;"
                            [formGroupName]="indexChildren"
                            class="border border-dark p-1"
                        >
                            <ng-container *ngIf="getComponentsComponentChildren(indexComponents)?.at(indexChildren)?.get('name')?.hasError('pattern')">
                                <mat-error>
                                    <strong>
                                        <pre>{{ getComponentsComponentChildren(indexComponents)?.at(indexChildren)?.get('name')?.value | json }}</pre>
                                    </strong>
                                </mat-error>
                                <mat-error>Only the characters [a-zA-Z0-9] and hyphen (-)</mat-error>
                                <mat-error>Cannot start with a digit, two hyphens, or a hyphen followed by a digit.</mat-error>
                                <mat-error>White Spaces are not allowed.</mat-error>
                                <mat-error>For example: user-post</mat-error>
                            </ng-container>
                        </div>
                    </fieldset>
                </fieldset>                
                <ng-container *ngIf="getComponents().at(indexComponents).get('component.name')?.value.length > 0">
                    <div id="angular-cli">
                        <p>
                            ng g module {{ getComponents().at(indexComponents).get('component.name')!.value }} --routing
                        </p>
                        <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="component_form"
                        >
                            <mat-radio-button
                                class="example-radio-button"
                                [value]=" getComponents().at(indexComponents).get('component.name')?.value"
                            >
                                ng g component {{  getComponents().at(indexComponents).get('component.name')!.value }}
                            </mat-radio-button>
                            <mat-radio-button
                                class="example-radio-button" 
                                *ngFor="let component of getComponentsComponentChildren(indexComponents).controls; let indexList = index;"
                                [value]="getComponents().at(indexComponents).get('component.name')?.value + '-' + component?.value.name"
                            >
                                ng g component {{ getComponents().at(indexComponents).get('component.name')?.value }}/{{  getComponents().at(indexComponents).get('component.name')?.value }}-{{ component?.value.name }}
                            </mat-radio-button>
                        </mat-radio-group>                        
                    </div>                        
                </ng-container>
            </div>
        </fieldset>
    </form>
</div>

<ng-container *ngIf="(isLoadingAction$ | async)">
    <p class="animate__animated animate__headShake text-white">Loading...</p>
</ng-container>
<ng-container *ngIf="(formBuilder$ | async) as formBuilder">
    <ng-container *ngIf="!(isLoadingAction$ | async )">
        <ng-container *ngIf="form.valid">
            <mat-card class="mat-elevation-z8 card-prop"> 
                <h1>
                    <strong>
                        You need to import ReactiveFormsModule in order to create reactive forms
                    </strong>
                </h1>

                <fieldset>
                    <h1>{{ formBuilder.component_name }}.component.ts</h1>
                    <code id="__form-comonent"><pre>{{ formBuilder.component }}</pre></code>
                </fieldset>
                <fieldset>
                    <h1>{{ formBuilder.component_name }}.component.html</h1>
                    <code id="__form-html"><pre>{{ formBuilder.html }}</pre></code>
                </fieldset>
            </mat-card>
        </ng-container>
    </ng-container>
</ng-container>