<a mat-button [routerLink]="['/json-to-form', 'create']">
    Create
</a>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid">
    <div 
        fxFlex
        *ngFor="let formExample of formExamples; let formExampleIndex = index;"
    >
        <mat-card
            fxFlex
            class="mat-elevation-z1 card-prop"
            [style]="{ 'cursor': 'pointer' }"
        >
            <mat-card-content>
                <div
                    [routerLink]="['/json-to-form', formExampleIndex, 'edit']"
                    class="card card-dark"
                    [ngClass]="hoverEffect[formExampleIndex]"
                    (mouseover)="hoverEffect[formExampleIndex] = 'animate__animated animate__headShake border border-primary'" 
                    (mouseout)="hoverEffect[formExampleIndex] = ''" 
                >
                    <div class="card-header">
                        <h2>{{ formExample.name }}</h2>
                    </div>
                    <div class="card-body">
                        <pre><small>{{ formExample.data | json }}</small></pre>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
