html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Monaco, Menlo, Consolas, "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
}

.error-line-highlight {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}