<a class="btn btn-primary mb-3" (click)="createJsonToForm()">
    Create
</a>
<div class="row">
    <ng-container
        *ngFor="let formExample of formExamples; let formExampleIndex = index;"
    >
        <div
            class="col-sm-6 col-lg-4 col-12 pb-4"
            [style]="{ 'cursor': 'pointer' }"
        >
            <div
                class="card card-dark"
                (click)="editJsonToForm(formExampleIndex)"
                [ngClass]="hoverEffect[formExampleIndex]"
                (mouseover)="hoverEffect[formExampleIndex] = 'animate__animated animate__headShake border border-primary'" 
                (mouseout)="hoverEffect[formExampleIndex] = ''"
            >
                <div class="card-header">
                    <h4>{{ formExample.name }}</h4>
                </div>
                <div class="card-body">
                    <pre><small>{{ formExample.data | json }}</small></pre>
                </div>
            </div>
        </div>
    </ng-container>
</div>
